{
  "openapi": "3.1.1",
  "info": {
    "version": "1.2",
    "title": "magicplan Cloud API",
    "description": "Public API for magicplan customers",
    "contact": {
      "email": "integration@magicplan.app"
    }
  },
  "servers": [
    {
      "description": "Production System",
      "url": "https://cloud.magicplan.app/api/v2"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": [],
      "CustomerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Projects",
      "description": "These endpoints allow for the creation, retrieval, updating, and deletion of projects in the system."
    },
    {
      "name": "Project Files",
      "description": "Endpoints for managing files associated with projects, including upload, registration, retrieval, and deletion."
    },
    {
      "name": "Estimates",
      "description": "Endpoints for retrieving estimate-related information."
    },
    {
      "name": "Workspace",
      "description": "Endpoints related to workspace management and configuration."
    },
    {
      "name": "Teams",
      "description": "Endpoints for managing and organizing teams and team-related activities."
    },
    {
      "name": "Forms",
      "description": "API for managing and retrieving forms withing your workspace, used for various data collection purposes."
    },
    {
      "name": "Plans",
      "description": "Plan-centric endpoints for accessing, updating, and deleting plans."
    },
    {
      "name": "Users",
      "description": "Endpoints related to workspace users."
    },
    {
      "name": "Images",
      "description": "These endpoints enable image loading."
    }
  ],
  "paths": {
    "/workspace": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "summary": "Get workspace",
        "description": "Retrieve information about the current workspace",
        "parameters": [
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "users"
                ]
              }
            },
            "required": false,
            "description": "Optional parameter to specify additional details in the response. Use 'include[]=users' to include workspace users in the result.",
            "examples": {
              "default": {
                "value": "include[]=users"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/WorkspaceResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Workspace"
        ],
        "summary": "Update workspace",
        "description": "Update workspace information",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Workspace"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Workspace successfully updated"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/workspace/members/invite": {
      "post": {
        "tags": [
          "Workspace"
        ],
        "summary": "Invite workspace members",
        "description": "Invite members to the workspace",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "examples": [
                      "John Doe"
                    ]
                  },
                  "email": {
                    "type": "string",
                    "examples": [
                      "email@example.com"
                    ]
                  },
                  "acting_user": {
                    "type": "string",
                    "description": "The email address of the user initiating the action",
                    "examples": [
                      "email@example.com"
                    ]
                  },
                  "teams": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Team IDs to which the invited user will be automatically assigned upon accepting the invitation.",
                    "examples": [
                      [
                        "921472e7-f969-4f5f-8c27-8046f69005fb",
                        "dfc4a813-85ab-4447-bd5b-c7567145f5b7"
                      ]
                    ]
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "description": "The request cannot be fulfilled due to bad syntax. The list of errors will be shown into the data object.",
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": "You have already invited this person"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/WorkspaceInsufficientSeatsResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/workspace/members": {
      "delete": {
        "tags": [
          "Workspace"
        ],
        "summary": "Remove workspace member",
        "description": "Remove a member or cancel an existing invitation from the workspace.",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "john.doe@example.com"
              ]
            },
            "description": "The email of the member or invitee to be removed."
          },
          {
            "name": "acting_user",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "admin@yourcompany.com"
              ]
            },
            "description": "The email of the user performing the removal action."
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "description": "The request cannot be fulfilled due to bad syntax.",
            "content": {
              "application/json": {
                "examples": {
                  "invalidFormat": {
                    "$ref": "#/components/examples/invalidFormat"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/teams": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "List teams",
        "description": "This endpoint allows you to retrieve a comprehensive list of teams operating within the workspace. Teams represent distinct entities or groups within the workspace environment.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TeamsResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Teams"
        ],
        "summary": "Create team",
        "description": "Create a new team",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name for the new team",
                    "examples": [
                      "Munich Team"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/TeamResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/teams/{id}": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Get team",
        "description": "Retrieve details for a specific team within the workspace",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Unique identifier for the team within the workspace",
              "examples": [
                "c32ea8d1-fee0-4c81-b402-eb3f85772cf8"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TeamResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Teams"
        ],
        "summary": "Update team",
        "description": "Update a team",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Team ID to be updated",
              "examples": [
                "c32ea8d1-fee0-4c81-b402-eb3f85772cf8"
              ]
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Updated name for the team",
                    "examples": [
                      "New Team Name"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Team successfully updated"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Teams"
        ],
        "summary": "Delete team",
        "description": "Delete a team",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Team ID to be deleted",
              "examples": [
                "c32ea8d1-fee0-4c81-b402-eb3f85772cf8"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Team successfully deleted"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/teams/{id}/members": {
      "post": {
        "tags": [
          "Teams"
        ],
        "summary": "Add team members",
        "description": "Add members directly to the team",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the team where users should be added",
              "examples": [
                "c32ea8d1-fee0-4c81-b402-eb3f85772cf8"
              ]
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "An array of email addresses for users to be added to the team",
                    "examples": [
                      [
                        "jane.smith@example.com",
                        "john.doe@example.com"
                      ]
                    ]
                  },
                  "acting_user": {
                    "type": "string",
                    "description": "The email address of the user initiating the action",
                    "examples": [
                      "admin@yourcompany.com"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "207": {
            "$ref": "#/components/responses/AddedTeamMembersResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Teams"
        ],
        "summary": "Remove team member",
        "description": "Remove a member from the team.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the team where a member should be removed",
              "examples": [
                "c32ea8d1-fee0-4c81-b402-eb3f85772cf8"
              ]
            },
            "required": true
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "john.doe@example.com"
              ]
            },
            "description": "The email of the member to be removed."
          },
          {
            "name": "acting_user",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "admin@yourcompany.com"
              ]
            },
            "description": "The email of the user performing the removal action."
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "description": "The request cannot be fulfilled due to bad syntax.",
            "content": {
              "application/json": {
                "examples": {
                  "invalidFormat": {
                    "$ref": "#/components/examples/invalidFormat"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/workgroups/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List users",
        "description": "Retrieve a list of users in the workgroup (workspace / team)",
        "operationId": "getWorkgroupUsers",
        "responses": {
          "200": {
            "$ref": "#/components/responses/WorkgroupUsersResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/workgroups/plans": {
      "get": {
        "tags": [
          "Plans"
        ],
        "summary": "List plans",
        "description": "This endpoint retrieves a paginated list of plans in the workgroup. The page size is limited to 100 items.\n",
        "operationId": "getWorkgroupPlans",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Page number. Check next_page field in the response's paging object to determine whether to call for the next page."
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort field.",
            "schema": {
              "type": "string",
              "enum": [
                "Plans.name",
                "Plans.update_date",
                "Plans.creation_date"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "id",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ],
              "description": "Filter the list by a specific plan ID. Accepts either a string or a number representing the unique identifier of the plan.",
              "examples": [
                "6a45b1435520f"
              ]
            }
          },
          {
            "in": "query",
            "name": "user_email",
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "Specify a user's email address to retrieve plans owned by this user within the workgroup."
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string",
              "examples": [
                "Corporate Headquarters Floor Plan"
              ]
            },
            "description": "Filter the list by plan name. Accepts a string for partial or exact match of the plan name."
          },
          {
            "in": "query",
            "name": "creation_date",
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2023-07-04"
              ]
            },
            "description": "Filter the list by the creation date of the plan. Accepts a date string in the format 'YYYY-MM-DD' or 'YYYY-MM-DD HH:MM:SS'."
          },
          {
            "in": "query",
            "name": "update_date",
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2024-01-23 03:46:38"
              ]
            },
            "description": "Filter the list by the last update date of the plan. Accepts a date string in the format 'YYYY-MM-DD' or 'YYYY-MM-DD HH:MM:SS'."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/WorkgroupPlansResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/plans/get/{id}": {
      "get": {
        "tags": [
          "Plans"
        ],
        "summary": "Get plan",
        "description": "Retrieve a detailed representation of a Plan\n> ⚠️ Note: For new integrations, we strongly recommend using the Project APIs, which offer enhanced capabilities and improved data structures.\n",
        "operationId": "getPlan",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ],
              "examples": [
                "6a45b1435520f"
              ]
            },
            "required": true,
            "description": "Unique identifier of the plan to retrieve"
          },
          {
            "in": "query",
            "name": "floor_svg_dimensions",
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "detailed"
              ],
              "default": "detailed"
            },
            "required": false,
            "description": "Controls the rendering of lines demonstrating dimensions on floor renderings."
          },
          {
            "in": "query",
            "name": "room_svg_dimensions",
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "detailed"
              ],
              "default": "detailed"
            },
            "required": false,
            "description": "Controls the rendering of lines demonstrating dimensions on room renderings."
          },
          {
            "in": "query",
            "name": "floor_svg_show_annotations",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Render blue annotation bubbles on floor renderings (default is false)."
          },
          {
            "in": "query",
            "name": "room_svg_show_annotations",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Render blue annotation bubbles on room renderings (default is true)."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlansGetResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/plans/{id}": {
      "delete": {
        "deprecated": true,
        "summary": "Delete plan",
        "description": "> ⚠️ Note: This endpoint is deprecated and will be removed in the future. Please use Delete Project API instead!\n",
        "operationId": "deletePlan",
        "tags": [
          "Plans"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ],
              "examples": [
                "6a45b1435520f"
              ]
            },
            "required": true,
            "description": "Unique identifier of the plan to delete"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/plans/statistics/{id}": {
      "get": {
        "tags": [
          "Plans"
        ],
        "summary": "Get plan statistics",
        "description": "Retrieve detailed statistics for a specific plan.",
        "operationId": "getPlanStatistics",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ],
              "examples": [
                "6a45b1435520f"
              ]
            },
            "required": true,
            "description": "Unique identifier for the plan"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlansStatisticsResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/plans/forms/{id}": {
      "get": {
        "tags": [
          "Plans"
        ],
        "summary": "Get plan forms",
        "description": "Retrieve all the forms applied to a specific plan.",
        "operationId": "getPlanForms",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ],
              "examples": [
                "6a45b1435520f"
              ]
            },
            "required": true,
            "description": "Unique identifier for the plan"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlansFormsResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/plans/{id}/owner": {
      "put": {
        "tags": [
          "Plans"
        ],
        "summary": "Reassign plan owner",
        "description": "Reassign the owner of a specific plan",
        "operationId": "reassignOwner",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ],
              "examples": [
                "6a45b1435520f"
              ]
            },
            "required": true,
            "description": "Unique identifier for the plan"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReassignPlanOwnerRequestBody"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/plans/{id}/files": {
      "get": {
        "tags": [
          "Plans"
        ],
        "summary": "List plan files",
        "description": "Returns a list of plan files with optional filtering options.\nFor more details, refer to the [Legacy API documentation](https://apidocs.magicplan.app/#floor-plan-api-list-floor-plan-files)\n",
        "operationId": "listPlanFiles",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ],
              "examples": [
                "6a45b1435520f"
              ]
            },
            "required": true
          },
          {
            "in": "query",
            "name": "modified_since",
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2024-01-23 03:46:38"
              ]
            },
            "description": "Start date and time for filtering ('YYYY-MM-DD' or 'YYYY-MM-DD HH:MM:SS')"
          },
          {
            "in": "query",
            "name": "modified_until",
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2024-01-24"
              ]
            },
            "description": "End date and time for filtering ('YYYY-MM-DD' or 'YYYY-MM-DD HH:MM:SS')"
          },
          {
            "in": "query",
            "name": "include_photos",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "A boolean flag to indicate whether user-captured photos should be included"
          },
          {
            "in": "query",
            "name": "format",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "pdf",
                  "jpg",
                  "svg",
                  "png",
                  "usdz",
                  "xls",
                  "csv",
                  "ifc",
                  "dxf",
                  "fml",
                  "xml",
                  "mp"
                ]
              }
            },
            "description": "Allow users to specify the file format(s) they want to filter by."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlansFilesResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/plans/{id}/custom-export": {
      "post": {
        "tags": [
          "Plans"
        ],
        "summary": "Plan custom export",
        "description": "Triggers custom export and returns a list of files that have been exported, including metadata such as file name, type, URL, hash, size, and timestamps.",
        "operationId": "planCustomExport",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ],
              "examples": [
                "6a45b1435520f"
              ]
            },
            "required": true
          },
          {
            "in": "query",
            "name": "acting_user",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "admin@yourcompany.com"
              ]
            },
            "description": "The email of the user performing the export action."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlansCustomExportResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "operationId": "listProjects",
        "summary": "List projects",
        "description": "This endpoint returns all projects associated to your workspace.\n",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Projects.name",
                "Projects.user_created",
                "Projects.user_modified"
              ]
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "examples": [
                1
              ]
            },
            "description": "Page number for pagination. Defaults to 1 if not provided."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10,
              "examples": [
                10
              ]
            },
            "description": "Number of items per page. Defaults to 10 if not provided. Maximum value is 50."
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "Specify a user's email address to retrieve projects assigned to this user within the workspace."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "Corporate Headquarters Floor Plan"
              ]
            },
            "description": "Filter the list by project name. Accepts a string for partial or exact match of the project name."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProjectsResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "operationId": "createNewProject",
        "summary": "Create project",
        "description": "Creates a new project with the given details.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/ProjectResponse"
          },
          "207": {
            "$ref": "#/components/responses/ProjectResponseWithWarnings"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Projects"
        ],
        "operationId": "updateProjectWithBodyId",
        "summary": "Update project (ID in body)",
        "description": "Updates a project with the given details. This endpoint accepts the project ID in the request body.\nNote: This is a legacy endpoint for backward compatibility. New integrations should use PUT /projects/{id} instead.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdateBodyWithId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProjectResponse"
          },
          "207": {
            "$ref": "#/components/responses/ProjectResponseWithWarnings"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "409": {
            "$ref": "#/components/responses/409Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/projects/{id}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "operationId": "getProject",
        "summary": "Get project",
        "description": "Retrieve details for a specific project",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Unique identifier of the project to retrieve",
              "examples": [
                "a92af2ba-17d8-4fb1-b76e-6377de97cdb2"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProjectResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Projects"
        ],
        "operationId": "updateProject",
        "summary": "Update project",
        "description": "Updates a project with the given details.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "examples": [
                "c32ea8d1-fee3-4c81-b402-eb3f85772cf8"
              ]
            },
            "required": true,
            "description": "Unique identifier of the project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdateBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProjectResponse"
          },
          "207": {
            "$ref": "#/components/responses/ProjectResponseWithWarnings"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "409": {
            "$ref": "#/components/responses/409Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "operationId": "deleteProject",
        "summary": "Delete project",
        "description": "Deletes a project with the given details. **Warning**: Deleting a project is a permanent action and will remove all associated data. There is no way to recover a project once it has been deleted.\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "examples": [
                "c32ea8d1-fee3-4c81-b402-eb3f85772cf8"
              ]
            },
            "required": true,
            "description": "Unique identifier of the project"
          },
          {
            "name": "acting_user",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The user performing the action."
          }
        ],
        "responses": {
          "204": {
            "description": "Project successfully deleted"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/projects/{id}/archive": {
      "put": {
        "tags": [
          "Projects"
        ],
        "operationId": "archiveProject",
        "summary": "Archive project",
        "description": "Archives the project with the given project ID. **Important:** Once archived, a project cannot be modified.\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "examples": [
                "c32ea8d1-fee3-4c81-b402-eb3f85772cf8"
              ]
            },
            "required": true,
            "description": "Unique identifier of the project"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "acting_user": {
                    "type": "string",
                    "description": "The email address of the user initiating the action",
                    "format": "email",
                    "examples": [
                      "admin@yourcompany.com"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProjectResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/projects/{id}/restore": {
      "put": {
        "tags": [
          "Projects"
        ],
        "operationId": "restoreProject",
        "summary": "Restore archived project",
        "description": "Restores an archived project with the given project ID..\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "examples": [
                "c32ea8d1-fee3-4c81-b402-eb3f85772cf8"
              ]
            },
            "required": true,
            "description": "Unique identifier of the project"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "acting_user": {
                    "type": "string",
                    "description": "The email address of the user initiating the action",
                    "format": "email",
                    "examples": [
                      "admin@yourcompany.com"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProjectResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/projects/{id}/plan": {
      "get": {
        "tags": [
          "Projects"
        ],
        "operationId": "getProjectPlan",
        "summary": "Get project plan",
        "description": "Retrieve the project plan details",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "examples": [
                "c32ea8d1-fee3-4c81-b402-eb3f85772cf8"
              ]
            },
            "required": true,
            "description": "Unique identifier for the project"
          },
          {
            "name": "acting_user",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "admin@yourcompany.com"
              ]
            },
            "description": "The email of the user performing the action."
          },
          {
            "name": "floor_svg_dimensions",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "main",
                "detailed"
              ],
              "default": "detailed"
            },
            "description": "Controls the rendering of dimensions on floor SVGs."
          },
          {
            "name": "room_svg_dimensions",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "main",
                "detailed"
              ],
              "default": "none"
            },
            "description": "Controls the rendering of dimensions on room SVGs."
          },
          {
            "name": "floor_svg_show_annotations",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Controls whether annotations are rendered on floor SVGs."
          },
          {
            "name": "room_svg_show_annotations",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Controls whether annotations are rendered on room SVGs."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProjectPlanResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/projects/{id}/files/temporary-presigned-url": {
      "post": {
        "tags": [
          "Project Files"
        ],
        "summary": "File upload - Get Pre-signed URL",
        "description": "Request a temporary pre-signed URL for uploading a file to a project. No additional data is required.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The ID of the project for which the file will be uploaded",
              "examples": [
                "a92af2ba-17d8-4fb1-b76e-6377de97cdb2"
              ]
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "acting_user": {
                    "type": "string",
                    "description": "The email address of the user initiating the action",
                    "format": "email",
                    "examples": [
                      "admin@yourcompany.com"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Temporary pre-signed URL and key generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "examples": [
                            "https://foo.com"
                          ]
                        },
                        "key": {
                          "type": "string",
                          "examples": [
                            "37dd136356bce1d175a6125ff9e17cbd377aaed4d4075f80cbcb8d3e17eeb21f"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/projects/{id}/files": {
      "post": {
        "tags": [
          "Project Files"
        ],
        "operationId": "registerProjectFiles",
        "summary": "File upload - Register",
        "description": "Register file after uploading via pre-signed URL. This creates a file record associated with this project. Prerequisites: the actual file content is uploaded to a temporary presigned URL.\n**Supported File Types:** - `pdf`: application/pdf - `csv`: text/csv - `xls`: application/vnd.ms-excel - `xlsx`: application/vnd.openxmlformats-officedocument.spreadsheetml.sheet - `doc`: application/msword - `docx`: application/vnd.openxmlformats-officedocument.wordprocessingml.document - `ppt`: application/vnd.ms-powerpoint - `pptx`: application/vnd.openxmlformats-officedocument.presentationml.presentation - `comma-separated-values`: text/comma-separated-values - `svg`: image/svg+xml - `public-svg-image`: image/svg+xml - `usdz`: model/vnd.usdz+zip - `jpeg`: image/jpeg - `jpg`: image/jpg - `pjpeg`: image/pjpeg - `png`: image/png - `x-png`: image/x-png - `gif`: image/gif - `bmp`: image/bmp - `x-windows-bmp`: image/x-windows-bmp - `webp`: image/webp\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "examples": [
                "c32ea8d1-fee3-4c81-b402-eb3f85772cf8"
              ]
            },
            "required": true,
            "description": "The ID of the project to associate the file with"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "The unique key identifying the uploaded file.",
                    "examples": [
                      "37dd136356bce1d175a6125ff9e17cbd377aaed4d4075f80cbcb8d3e17eeb21f"
                    ]
                  },
                  "filename": {
                    "type": "string",
                    "description": "The name of the uploaded file. The filename must include a valid extension (e.g., `.jpg`, `.jpeg`, `.pdf`, `.docx`).\n",
                    "examples": [
                      "file.jpg"
                    ]
                  },
                  "acting_user": {
                    "type": "string",
                    "description": "The email address of the user initiating the action",
                    "format": "email",
                    "examples": [
                      "admin@yourcompany.com"
                    ]
                  }
                },
                "required": [
                  "key",
                  "filename"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/ProjectFileResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "tags": [
          "Project Files"
        ],
        "operationId": "getProjectFiles",
        "summary": "Get project files",
        "description": "This endpoint returns all files associated with a specified project ID.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "examples": [
                "c32ea8d1-fee3-4c81-b402-eb3f85772cf8"
              ]
            },
            "required": true,
            "description": "Unique identifier of the project"
          },
          {
            "name": "acting_user",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "admin@yourcompany.com"
              ]
            },
            "description": "The email of the user performing the action."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "examples": [
                1
              ]
            },
            "description": "Page number for pagination. Defaults to 1 if not provided."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10,
              "examples": [
                10
              ]
            },
            "description": "Number of items per page. Defaults to 10 if not provided. Maximum value is 50."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProjectFilesResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/projects/{id}/files/{fileId}": {
      "delete": {
        "tags": [
          "Project Files"
        ],
        "operationId": "deleteProjectFiles",
        "summary": "Delete project files",
        "description": "This endpoint deletes a specific file associated with a project. **Warning** Deleting a file is a permanent action and cannot be undone. Please ensure that you have selected the correct file for deletion.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "examples": [
                "c32ea8d1-fee3-4c81-b402-eb3f85772cf8"
              ]
            },
            "required": true,
            "description": "Unique identifier of the project"
          },
          {
            "in": "path",
            "name": "fileId",
            "schema": {
              "type": "string",
              "examples": [
                "c32ea8d1-fee3-4c81-b402-eb3f85772cf8"
              ]
            },
            "required": true,
            "description": "Unique identifier of the file"
          },
          {
            "name": "acting_user",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The user performing the action."
          }
        ],
        "responses": {
          "204": {
            "description": "File deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/images/plan/{id}/svg/{fileName}": {
      "get": {
        "x-hidden": true,
        "x-exclude": true,
        "tags": [
          "Images"
        ],
        "operationId": "planImage",
        "summary": "Load image",
        "description": "Load plan SVG images",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Unique identifier of the plan",
              "examples": [
                "a92af2ba-17d8-4fb1-b76e-6377de97cdb2"
              ]
            },
            "required": true
          },
          {
            "in": "path",
            "name": "fileName",
            "schema": {
              "type": "string",
              "description": "SVG file name",
              "examples": [
                "ad8cd7aa28786678aae03be8e7c3f02964ee095e-777983ff.svg"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "contentMediaType": "application/octet-stream"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/forms": {
      "get": {
        "tags": [
          "Forms"
        ],
        "operationId": "listForms",
        "summary": "List forms",
        "description": "Fetches all forms available in the authenticated workspace.",
        "parameters": [
          {
            "in": "query",
            "name": "acting_user",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "member@yourcompany.com"
              ]
            },
            "description": "The email of the user performing the action."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of forms in the workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SimpleForm"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Forms"
        ],
        "operationId": "createForm",
        "summary": "Create form",
        "description": "Creates a new form in the authenticated workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "acting_user": {
                    "type": "string",
                    "description": "The email address of the user initiating the action",
                    "format": "email",
                    "examples": [
                      "admin@yourcompany.com"
                    ]
                  },
                  "form": {
                    "$ref": "#/components/schemas/FormDefinition"
                  }
                },
                "required": [
                  "form"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/FormResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/forms/{id}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "operationId": "getForm",
        "summary": "Get form",
        "description": "Fetches the full structure of a form, including sections, instructions, and questions.\nForms can contain multiple sections, each having various types of elements like labels, input fields, and nested conditions.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the form.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "acting_user",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "member@yourcompany.com"
              ]
            },
            "description": "The email of the user performing the action."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/FormResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Forms"
        ],
        "operationId": "updateForm",
        "summary": "Update form",
        "description": "Updates the form.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "examples": [
                "c32ea8d1-fee3-4c81-b402-eb3f85772cf8"
              ]
            },
            "required": true,
            "description": "Unique identifier of the form"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "acting_user": {
                    "type": "string",
                    "description": "The email address of the user initiating the action",
                    "format": "email",
                    "examples": [
                      "admin@yourcompany.com"
                    ]
                  },
                  "form": {
                    "$ref": "#/components/schemas/FormDefinition"
                  }
                },
                "required": [
                  "form"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/FormResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Forms"
        ],
        "operationId": "deleteForm",
        "summary": "Delete form",
        "description": "Deletes a form with the given id. **Warning**: Deleting a form is a permanent action. There is no way to recover a form once it has been deleted.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the form.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "acting_user",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "member@yourcompany.com"
              ]
            },
            "description": "The email of the user performing the action."
          }
        ],
        "responses": {
          "204": {
            "description": "Form successfully deleted"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/projects/{id}/estimates": {
      "get": {
        "tags": [
          "Estimates"
        ],
        "operationId": "listEstimates",
        "summary": "List estimates",
        "description": "Returns all estimates associated with the specified project in the authenticated workspace.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the project.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "acting_user",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "member@yourcompany.com"
              ]
            },
            "description": "The email of the user performing the action."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "examples": [
                1
              ]
            },
            "description": "Page number for pagination. Defaults to 1 if not provided."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10,
              "examples": [
                10
              ]
            },
            "description": "Number of items per page. Defaults to 10 if not provided. Maximum value is 50."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of estimates for the specified project.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Estimate"
                      }
                    },
                    "page_info": {
                      "$ref": "#/components/schemas/PageInfo"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/projects/{id}/estimates/{estimateId}": {
      "get": {
        "tags": [
          "Estimates"
        ],
        "operationId": "getEstimate",
        "summary": "Get estimate",
        "description": "Retrieves detailed information for a specific estimate associated with a given project. Requires the unique identifiers of both the project and the estimate.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the project.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "estimateId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the estimate.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "acting_user",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "member@yourcompany.com"
              ]
            },
            "description": "The email of the user performing the action."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EstimateDetailedResponse"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "key"
      },
      "CustomerAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "customer"
      }
    },
    "schemas": {
      "CustomFieldExtensions": {
        "type": "object",
        "properties": {
          "custom_fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Object containing key-value pairs of field identifiers and their corresponding validation messages.",
            "examples": [
              {
                "qf.3daf0f52q4": "Invalid value for text"
              }
            ]
          }
        }
      },
      "CustomFields": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the field",
            "examples": [
              "qf.abec6a85q12"
            ]
          },
          "value": {
            "oneOf": [
              {
                "type": "string",
                "description": "The answer of the custom form field.",
                "examples": [
                  "#feb438ff"
                ]
              },
              {
                "type": "number",
                "format": "float",
                "description": "The answer of the custom form field.",
                "examples": [
                  1
                ]
              },
              {
                "type": "boolean",
                "description": "The answer of the custom form field.",
                "examples": [
                  true
                ]
              },
              {
                "type": "array",
                "description": "An array of answers for the custom form field.",
                "items": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    }
                  ]
                },
                "minItems": 1,
                "examples": [
                  [
                    1,
                    2,
                    "three"
                  ]
                ]
              }
            ]
          }
        }
      },
      "CustomForm": {
        "description": "The Form model represents a set of questions organized within sections.",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique ID of the form.",
            "examples": [
              "qf.12f34e8bq0.5isgls8huao"
            ]
          },
          "title": {
            "type": "string",
            "description": "Form title.",
            "examples": [
              "Custom wall form"
            ]
          },
          "sections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sections"
            }
          }
        }
      },
      "CustomFormExtensions": {
        "type": "object",
        "properties": {
          "custom_forms": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Object containing key-value pairs of form field identifiers and their corresponding validation messages.",
            "examples": [
              {
                "qf.3daf0f52q4": "Invalid value for text"
              }
            ]
          }
        }
      },
      "CustomForms": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the custom form",
            "examples": [
              "3c2ea8d1-fee3-4c81-b402-eb3f85772cf8"
            ]
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the field inside the custom form",
                  "examples": [
                    "qf.abec6a85q12"
                  ]
                },
                "value": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "The answer of the custom form field.",
                      "examples": [
                        "#feb438ff"
                      ]
                    },
                    {
                      "type": "number",
                      "format": "float",
                      "description": "The answer of the custom form field.",
                      "examples": [
                        1
                      ]
                    },
                    {
                      "type": "boolean",
                      "description": "The answer of the custom form field.",
                      "examples": [
                        true
                      ]
                    },
                    {
                      "type": "array",
                      "description": "An array of answers for the custom form field.",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      },
                      "minItems": 1,
                      "examples": [
                        [
                          1,
                          2,
                          "three"
                        ]
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "DefaultFieldValue": {
        "description": "The DefaultFieldValue model represents the default field value answered on the app.",
        "type": "object",
        "properties": {
          "has_value": {
            "type": "boolean",
            "description": "Indicates whether the field was answered on the app.",
            "examples": [
              true
            ]
          },
          "value": {
            "type": "string",
            "description": "The field answer.",
            "examples": [
              "Not damaged."
            ]
          },
          "values": {
            "type": "array",
            "description": "An array filled only if the field type is 'list' or 'image'.",
            "items": {},
            "maxItems": 0,
            "examples": [
              []
            ]
          },
          "formatted": {
            "type": "string",
            "description": "Depending on the field type, the field value will be formatted.",
            "examples": [
              null
            ]
          }
        }
      },
      "Error": {
        "description": "The Error model represents an error response with a message.",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "A description of the error."
          },
          "data": {
            "type": "string",
            "description": "Additional data, such as validation errors, if applicable."
          }
        },
        "required": [
          "message"
        ]
      },
      "Estimator": {
        "description": "The Estimator model provides information about the plan estimator.",
        "type": "object"
      },
      "Field": {
        "description": "The Field model represents a question or field within a form.",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique ID of the form field (question).",
            "examples": [
              "qf.d1e08eadq0.n5qaqkhvmf"
            ]
          },
          "type_as_string": {
            "type": "string",
            "description": "Field type.",
            "examples": [
              "boolean"
            ]
          },
          "label": {
            "type": "string",
            "description": "Field or question label.",
            "examples": [
              "Is there damage to this room?"
            ]
          },
          "is_required": {
            "type": "boolean",
            "description": "Indicates whether the field is mandatory to be filled.",
            "examples": [
              false
            ]
          },
          "value": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/DefaultFieldValue"
              },
              {
                "$ref": "#/components/schemas/ListOrImageFieldValue"
              }
            ]
          }
        }
      },
      "File": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "examples": [
              "My great floor plan.pdf"
            ]
          },
          "folder": {
            "type": "string",
            "examples": [
              "Report PDF"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "last_modified": {
            "type": "string",
            "format": "date-time",
            "examples": [
              "2023-12-06T08:49:32+00:00"
            ]
          },
          "size": {
            "type": "integer",
            "examples": [
              493372
            ]
          },
          "file_type": {
            "type": "string",
            "examples": [
              "pdf"
            ]
          }
        }
      },
      "Floor": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "examples": [
              "64ee095e.777983ff"
            ]
          },
          "name": {
            "type": "string",
            "examples": [
              "Ground Floor"
            ]
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FloorValue"
            }
          },
          "image": {
            "type": "string",
            "format": "uri",
            "description": "URL to the floor SVG image. Accessing this image requires API Key and Customer Key in the request headers.",
            "examples": [
              "https://cloud.magicplan.app/api/v2/images/plan/e3d98370-ba3c-4049-857b-d5fd231fcb04/svg/ad8cd7aa28786678aae03be8e7c3f02964ee095e-777983ff.svg"
            ]
          },
          "objects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FurnitureObject"
            }
          },
          "image_map": {
            "$ref": "#/components/schemas/ImageMap"
          },
          "statistics": {
            "$ref": "#/components/schemas/GeometryStatistics"
          },
          "statistics_formatted": {
            "$ref": "#/components/schemas/GeometryStatisticsFormatted"
          },
          "rooms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Room"
            }
          }
        }
      },
      "FloorStatistics": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "The unique identifier for the floor.",
            "examples": [
              "53a007e0.da4387fc"
            ]
          },
          "name": {
            "type": "string",
            "description": "The name of the floor",
            "examples": [
              "Ground Floor"
            ]
          },
          "area": {
            "type": "number",
            "format": "float",
            "description": "The total area of the floor in square units.",
            "examples": [
              31.725
            ]
          },
          "perimeter": {
            "type": "number",
            "format": "float",
            "description": "The perimeter of the floor.",
            "examples": [
              47.314
            ]
          },
          "ground_perimeter": {
            "type": "number",
            "format": "float",
            "description": "The ground perimeter of the floor.",
            "examples": [
              42.714
            ]
          },
          "area_without_walls": {
            "type": "number",
            "format": "float",
            "description": "The area of the floor excluding walls.",
            "examples": [
              30.127
            ]
          },
          "area_with_interior_walls_only": {
            "type": "number",
            "format": "float",
            "description": "The area of the floor with only interior walls.",
            "examples": [
              31.725
            ]
          },
          "area_with_walls": {
            "type": "number",
            "format": "float",
            "description": "The area of the floor including walls.",
            "examples": [
              37.358
            ]
          },
          "wall_count": {
            "type": "number",
            "format": "int64",
            "description": "The total number of walls in the floor.",
            "examples": [
              31
            ]
          },
          "door_count": {
            "type": "number",
            "format": "int64",
            "description": "The total number of doors in the floor.",
            "examples": [
              3
            ]
          },
          "window_count": {
            "type": "number",
            "format": "int64",
            "description": "The total number of windows in the floor.",
            "examples": [
              4
            ]
          },
          "height": {
            "type": "number",
            "format": "float",
            "description": "The height of the floor.",
            "examples": [
              2.44
            ]
          },
          "volume": {
            "type": "number",
            "format": "float",
            "description": "The total volume of the floor.",
            "examples": [
              76.16
            ]
          },
          "doors_surface": {
            "type": "number",
            "format": "float",
            "description": "The total surface area of doors in the floor.",
            "examples": [
              9.384
            ]
          },
          "walls_surface": {
            "type": "number",
            "format": "float",
            "description": "The total surface area of walls in the floor.",
            "examples": [
              119.513
            ]
          },
          "walls_surface_without_openings": {
            "type": "number",
            "format": "float",
            "description": "The surface area of walls without openings in the floor.",
            "examples": [
              105.746
            ]
          },
          "windows_surface": {
            "type": "number",
            "format": "float",
            "description": "The total surface area of windows in the floor.",
            "examples": [
              4.383
            ]
          },
          "room_count": {
            "type": "number",
            "format": "int64",
            "description": "The total number of rooms in the floor.",
            "examples": [
              3
            ]
          },
          "bedrooms_count": {
            "type": "number",
            "format": "int64",
            "description": "The total number of bedrooms in the floor.",
            "examples": [
              3
            ]
          },
          "bathrooms_count": {
            "type": "number",
            "format": "int64",
            "description": "The total number of bathrooms in the floor. Note that in magicplan, a bathroom is not counted as a room.",
            "examples": [
              1
            ]
          },
          "furniture_count": {
            "type": "number",
            "format": "int64",
            "description": "The total number of furniture items in the floor.",
            "examples": [
              17
            ]
          },
          "rooms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoomStatistics"
            }
          }
        }
      },
      "Form": {
        "description": "The Form model represents a set of questions organized within sections.",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique ID of the form.",
            "examples": [
              "qf.12f34e8bq0.5isgls8huao"
            ]
          },
          "title": {
            "type": "string",
            "description": "Form title.",
            "examples": [
              "Custom wall form"
            ]
          },
          "sections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sections"
            }
          }
        }
      },
      "FormData": {
        "description": "The FormData model represents data related to forms associated with a symbol instance.",
        "type": "object",
        "properties": {
          "symbol_instance_id": {
            "type": "string",
            "description": "Unique ID of the symbol instance.",
            "examples": [
              "5bd1f388.d3e9abcc"
            ]
          },
          "symbol_type": {
            "type": "string",
            "enum": [
              "plan",
              "floor",
              "room",
              "furniture",
              "wall_item"
            ],
            "description": "Type of the symbol.",
            "examples": [
              "floor"
            ]
          },
          "symbol_name": {
            "type": "string",
            "description": "Name of the symbol.",
            "examples": [
              "Ground Floor"
            ]
          },
          "forms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomForm"
            }
          }
        }
      },
      "FormDefinition": {
        "type": "object",
        "description": "Represents the full structure of a form, including sections and questions.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the form.",
            "examples": [
              "Heating Measurement Form"
            ]
          },
          "context": {
            "type": "array",
            "description": "Defines where the form should be applied within a project. Valid values include:\n  - plan: applies to the entire project\n  - floor: applies to each floor\n  - interiorWall: applies to each interior wall\n  - room: applies to each room (including custom rooms)\n  - objectsTree: applies to each object (including custom objects)\n",
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "plan",
                "floor",
                "room"
              ]
            ]
          },
          "children": {
            "type": "array",
            "description": "The sections and elements inside the form.",
            "items": {
              "$ref": "#/components/schemas/FormElement"
            }
          }
        }
      },
      "FormElement": {
        "type": "object",
        "description": "Represents a generic element inside a form. Can be a section, label, or question.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the form element.\n- Must contain only letters (A-Z, a-z) and numbers (0-9), no underscores.\n- Must be **unique within the form**.\n",
            "pattern": "^[a-zA-Z0-9]+$",
            "minLength": 10,
            "maxLength": 30,
            "examples": [
              "16db9ef4s1"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "section",
              "label",
              "question"
            ],
            "description": "The type of form element.",
            "examples": [
              "question"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Name of the section or question (null for labels).",
            "examples": [
              "Client Name (if applicable):"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Description or instructional text (used for labels).",
            "examples": [
              "📌 Fill in basic project details to identify the measurement report."
            ]
          },
          "children": {
            "type": "array",
            "description": "Nested elements within a section or question.",
            "items": {
              "$ref": "#/components/schemas/FormElement"
            }
          },
          "fields": {
            "type": [
              "object",
              "null"
            ],
            "description": "Additional fields for questions, such as options for dropdowns.",
            "properties": {
              "options": {
                "type": "array",
                "description": "List of selectable options for multiple-choice questions.",
                "items": {
                  "type": "string"
                }
              }
            },
            "examples": [
              {
                "options": [
                  "Tile",
                  "Wood",
                  "Carpet",
                  "Concrete"
                ]
              }
            ]
          },
          "dataType": {
            "type": "string",
            "enum": [
              "bool",
              "list",
              "multiselect",
              "signature",
              "text",
              "distance",
              "number",
              "image",
              "color",
              "datetime",
              "separator"
            ],
            "description": "The type of data collected by the question.",
            "examples": [
              "text"
            ]
          },
          "required": {
            "type": "boolean",
            "description": "Indicates if answering the question is mandatory.",
            "examples": [
              false
            ]
          },
          "comparisonValue": {
            "type": [
              "string",
              "null"
            ],
            "description": "Used for conditional logic to determine when nested questions should be displayed.",
            "examples": [
              "1"
            ]
          }
        }
      },
      "FurnitureObject": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "examples": [
[...]
